
  <!-- <h2 class="header">Horizontal Card</h2> -->
  <div class="card horizontal">
      <div class="card-image ">
        <div class="card-panel blue z-depth-2">
          <span class="white-text"> Compelete/Incomplete Projects
              </span>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div style="display: block">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  