<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="horizontal">
 
    <div *ngFor="let question of questions" >
      <df-question [question]="question" [form]="form"></df-question>
    </div>
 
    <!-- <div class="form-group">
        <div class="col-lg-6 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div> -->
  </form>
 
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>

