
<div class="row">
  <div class="col s8 offset-s2">
    <h5>Maturity</h5>
    <div class="star-rating editable">
      <div class="star-rating-stars">
        <div id="star1" class="star-rating-star" (click)="getStarRating(star1)" #star1>☆</div>
        <div id="star2" class="star-rating-star" (click)="getStarRating(star2)" #star2>☆</div>
        <div id="star3" class="star-rating-star" (click)="getStarRating(star3)" #star3>☆</div>
        <div id="star4" class="star-rating-star" (click)="getStarRating(star4)" #star4>☆</div>
        <div id="star5" class="star-rating-star" (click)="getStarRating(star5)" #star5>☆</div>
      </div>
      <!-- <div class="star-rating-aside">
        (&thinsp;5&thinsp;)
      </div> -->
    </div>
  </div>
</div>