/* .star-rating {
  font-size: 25px;
}

.star-rating .star-rating-stars {
  font-family: "Arial Unicode MS", Arial, sans-serif;
  unicode-bidi: bidi-override;
  color: #791CA1;
}
.star-rating .star-rating-stars .star-rating-star {
  float: left;
  width: 1.25em;
}
.star-rating .star-rating-stars .star-rating-star:before {
  content: "\2605";
  position: absolute;
  color: #791CA1;
}
.star-rating .star-rating-current-value:before,
.star-rating .star-rating-current-value ~ .star-rating-star:before {
  content: normal;
}
.star-rating.editable:hover .star-rating-current-value:before, .star-rating.editable:hover .star-rating-current-value ~ .star-rating-star:before {
  content: "\2605";
  position: absolute;
  color: #ffb400;
}
.star-rating.editable .star-rating-star:hover, .star-rating.editable .star-rating-star:hover ~ .star-rating-star:before {
  content: normal;
  cursor: pointer;
}
.star-rating .star-rating-aside {
  float: left;
  margin-left: 5px;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}
.star-rating.small {
  font-size: 16px;
  line-height: 1;
}
.star-rating.small .star-rating-aside {
  line-height: 16px;
}
.star-rating.large {
  font-size: 20px;
}
.star-rating.large .star-rating-aside {
  line-height: 26px;
}
.rating {
  float:left;
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
} */
