
<div class="row">
  <div class="col s8 ">
      <!-- <fieldset class="rating">
          <legend>Please rate:</legend>
          <input type="radio" id="star5" name="rating" #rating value="5" /><label for="star5" title="Rocks!">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
      </fieldset>
         -->

         <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
    <!-- <div class="star-rating editable">
      <div class="star-rating-stars">
          
        <div id="star1" class="star-rating-star " (click)="getStarRating(star1)" #star1>☆</div>
        <div id="star2" class="star-rating-star " (click)="getStarRating(star2)" #star2>☆</div>
        <div id="star3" class="star-rating-star " (click)="getStarRating(star3)" #star3>☆</div>
        <div id="star4" class="star-rating-star " (click)="getStarRating(star4)" #star4>☆</div>
        <div id="star5" class="star-rating-star " (click)="getStarRating(star5)" #star5>☆</div>
      
    </div>
       <div class="star-rating-aside">
        (&thinsp;5&thinsp;)
      </div> -->
    </div> 

</div>