
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="col">
          <chart [options]="options" (selection)="onChartSelection($event)">
            <series>
              <point (select)="onPointSelect($event)"></point>
            </series>
          </chart>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Application UI Type<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <p>This diagram shows the total number of apps for a particular UI Type</p>
      </div>
    </div>
  