
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="col s12">
          <div style="display: block">
            <chart [options]="options">
            </chart>
          </div>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Number of Apps with Compeletd or Un-Complete Score<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <p>This diagram shows the total number of apps that have completed or un-compelete scores</p>
      </div>
    </div>
