<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <div class="card-panel blue z-depth-4">
        <span class="white-text">
            <table >
                <thead>
                  <tr>
                      <th>Project</th>
                      <th>Status</th>
                      <th>Client</th>
                  </tr>
                </thead>
              </table>
             </span>
      </div>
      <!-- rows -->
      <table>
        <tr>
          <div class="card-panel red lighten-3">
            <span class="black-text centered">
                <table >
                      <tr>
                          <td>Xyz</td>
                          <td>InComplete</td>
                          <td>Yahoo</td>
                        </tr>
                      </table>
               </span>
          </div>
        </tr>
        <tr>
            <div class="card-panel">
                <span class="black-text">
                    <table >
                          <tr>
                              <td>Xyz</td>
                              <td>Complete</td>
                              <td>Yahoo</td>
                            </tr>
                          </table>
                   </span>
              </div>
        </tr>
        <tr>
            <div class="card-panel">
                <span class="black-text">
                    <table >
                          <tr>
                              <td>Xyz</td>
                              <td>Complete</td>
                              <td>Yahoo</td>
                            </tr>
                          </table>
                   </span>
              </div>
        </tr>
      </table>



    </div>

  </div>
</div>