<div class="row">
  <div class="col s12 center">
    <h5>Excel Importer - Incremental Import</h5>
    <div class="first col s12 m10 offset-m1">
      <div class="row">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" id="fileinput" (change)="handleFile($event)" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Select Any .xls or .xlsx File to import">
          </div>
        </div>
      </div>
    </div>
    <div class="two">
      <div class="row">
        <a class="left waves-effect waves-teal btn-flat" onClick=" $('.two').hide('slide', { direction: 'right' }, 1000);$('.one').show('slide', { direction: 'left' }, 1000);">back</a>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="input-field">
            <select id="slctSheet">
                            <option value="" disabled selected>Select Sheet To be Imported</option>
                            <option *ngFor="let sheet of sheet_names" value="{{sheet}}">{{sheet}}</option>
                        </select>
            <label>Sheets From Excel</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <button class="btn waves-effect waves-light" (click)="selectSheet('slctSheet')">next
                        <i class="material-icons right">send</i>
                    </button>
        </div>
      </div>
    </div>
    <div class="three">
      <div class="row">
        <a class="left waves-effect waves-teal btn-flat" onClick=" $('.three').hide('slide', { direction: 'right' }, 1000);$('.two').show('slide', { direction: 'left' }, 1000);">back</a>
      </div>
      <div class="row">

        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header general"><i class="material-icons">filter_drama</i>general</div>
            <div class="collapsible-body general">
              <div class="row">
                <span *ngFor="let attr of this.project_system_attributes_names_with_cat">
                                <div class="col s6" *ngIf="attr.cat === 'general_attributes'">
                                    <div class="col s6 truncate">
                                         {{attr.key}} -
                                    </div>
                                    <div class="col s6">
                                        <select id="{{attr.key}}">
                                        <option value="skip" selected>skip</option>
                                        <option *ngFor="let map1 of excel_header_names">{{map1}}</option>
                                    </select>
                                    </div>
                                </div>
                            </span>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header ticket"><i class="material-icons">filter_drama</i>ticket</div>
            <div class="collapsible-body ticket">
              <div class="row">
                <span *ngFor="let attr of this.project_system_attributes_names_with_cat">
                                <div class="col s6" *ngIf="attr.cat === 'ticket_attributes'">
                                    <div class="col s6 truncate">
                                         {{attr.key}} -
                                    </div>
                                    <div class="col s6">
                                        <select id="{{attr.key}}">
                                        <option value="skip" selected>skip</option>
                                        <option *ngFor="let map1 of excel_header_names">{{map1}}</option>
                                    </select>
                                    </div>
                                </div>
                            </span>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header classification"><i class="material-icons">filter_drama</i>classification</div>
            <div class="collapsible-body classification">
              <div class="row">
                <span *ngFor="let attr of this.project_system_attributes_names_with_cat">
                                <div class="col s6" *ngIf="attr.cat === 'classification_attributes'">
                                    <div class="col s6 truncate">
                                         {{attr.key}} -
                                    </div>
                                    <div class="col s6">
                                        <select id="{{attr.key}}">
                                        <option value="skip" selected>skip</option>
                                        <option *ngFor="let map1 of excel_header_names">{{map1}}</option>
                                    </select>
                                    </div>
                                </div>
                            </span>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header integration"><i class="material-icons">filter_drama</i>integration</div>
            <div class="collapsible-body integration">
              <div class="row">
                <span *ngFor="let attr of this.project_system_attributes_names_with_cat">
                                <div class="col s6" *ngIf="attr.cat === 'integration_attributes'">
                                    <div class="col s6 truncate">
                                         {{attr.key}} -
                                    </div>
                                    <div class="col s6">
                                        <select id="{{attr.key}}">
                                        <option value="skip" selected>skip</option>
                                        <option *ngFor="let map1 of excel_header_names">{{map1}}</option>
                                    </select>
                                    </div>
                                </div>
                            </span>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header application"><i class="material-icons">filter_drama</i>application</div>
            <div class="collapsible-body application">
              <div class="row">
                <span *ngFor="let attr of this.project_system_attributes_names_with_cat">
                                <div class="col s6" *ngIf="attr.cat === 'application_type'">
                                    <div class="col s6 truncate">
                                         {{attr.key}} -
                                    </div>
                                    <div class="col s6">
                                        <select id="{{attr.key}}">
                                        <option value="skip" selected>skip</option>
                                        <option *ngFor="let map1 of excel_header_names">{{map1}}</option>
                                    </select>
                                    </div>
                                </div>
                            </span>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header other"><i class="material-icons">filter_drama</i>other</div>
            <div class="collapsible-body other">
              <div class="row">
                <span *ngFor="let attr of this.project_system_attributes_names_with_cat">
                                <div class="col s6" *ngIf="attr.cat !== 'application_type' && attr.cat !== 'general_attributes' && attr.cat !== 'ticket_attributes' && attr.cat !== 'integration_attributes' && attr.cat !== 'classification_attributes'">
                                    <div class="col s6 truncate">
                                         {{attr.key}} -
                                    </div>
                                    <div class="col s6">
                                        <select id="{{attr.key}}">
                                        <option value="skip" selected>skip</option>
                                        <option *ngFor="let map1 of excel_header_names">{{map1}}</option>
                                    </select>
                                    </div>
                                </div>
                            </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <button class="btn waves-effect waves-light" (click)="getAllMappingValuesFrmSelect()">next
                        <i class="material-icons right">send</i>
                    </button>
        </div>
      </div>
    </div>
    <div class="four">
      <div class="row">
        <a class="left waves-effect waves-teal btn-flat" onClick=" $('.four').hide('slide', { direction: 'right' }, 1000);$('.three').show('slide', { direction: 'left' }, 1000);">back</a>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1 left-align">
          <div class="col s6 push-s6">
            <h4>Repeatancy</h4>
            <span *ngFor="let head of excel_header_names">
                        <h5>{{head}} - </h5>
                        <span *ngFor="let repeats of repeatancy[head]">| {{repeats}} |</span>
            </span>
            <span>
                        <h5>Skip - </h5>
                        <span *ngFor="let repeats of repeatancy['skip']">| {{repeats}} |</span>
            </span>
          </div>
          <div class="col s6 pull-s6">
            <h4>One to One Mapping</h4>
            <span *ngFor="let head of project_system_attributes_names">
                            {{head}} - {{mapping[head]}} <br>
                        </span>
            <button class="btn waves-effect waves-light" (click)="generateExcel()" onClick="Materialize.toast('Working On saving the Mapping',2000);">Save Mapping to Excel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <button class="btn waves-effect waves-light" onClick="$('.four').hide('slide', { direction: 'left' }, 1000);$('.five').show('slide', { direction: 'right' }, 1000);">next
                        <i class="material-icons right">send</i>
                    </button>
        </div>
      </div>
    </div>
    <div class="five">
      <div class="row">
        <a class="left waves-effect waves-teal btn-flat" onClick=" $('.five').hide('slide', { direction: 'right' }, 1000);$('.four').show('slide', { direction: 'left' }, 1000);">back</a>
      </div>
      <div class="row">
        <!-- <div class="col s12"> -->
        <!-- <h5>Done .</h5> -->
        <table class="centered highlight responsive-table">
          <thead>
            <tr>
              <th *ngFor="let attr of psname">{{attr}} - {{mapping[attr]}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec of selected_excel_sheet_data; let i = index">
              <td *ngFor="let a of psname">{{mapping_with_value[i][a]}}</td>
            </tr>
          </tbody>
        </table>
        <!-- </div> -->
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <button class="btn waves-effect waves-light" (click)="generateDataAccordingToProject()" onClick="$('.five').hide('slide', { direction: 'left' }, 1000);$('.six').show('slide', { direction: 'right' }, 1000);">next
                        <i class="material-icons right">send</i>
                    </button>
          </div>
        </div>
      </div>
    </div>
    <div class="six">
      <div class="row">
        Done
      </div>
    </div>
  </div>
</div>