<div class="body">
</div>
<img class="image" src="http://172.17.111.24:3500/images/LTI_logo_Black.png" width="80px" height="50px" align="middle">
<div class="header">
  <br/>
  <div>Transformation<span>  Portal</span></div>
</div>
<br>
<div class="login">
  <form [formGroup]="form" (keyup.enter)="login(form)">
    <div class="form-group">
      <div class="col s7 m7">
        <input type="text" class="form-control" formControlName="username" placeholder="Username" autofocus required />
      </div>
      <div class="text-danger"  *ngIf="form.controls.username.touched ||form.controls.username.dirty">
        <div [hidden]="!form.controls.username.hasError('required')">Username is required</div>
        <!-- <div [hidden]="!form.controls.username.hasError('minlength')">Minimum 6 characters are required</div> -->
    </div>
</div>
<!-- <input type="text"  placeholder="username" name="user" autofocus><br> -->
<div class="form-group">
  <div class="col-sm-7 col-md-7">
    <input type="password" class="form-control" formControlName="password" placeholder="Password" name="password" required />
  </div>
  <div class="text-danger"  *ngIf="form.controls.password.touched ||form.controls.password.dirty">
    <div [hidden]="!form.controls.password.hasError('required')">Password is required</div>
</div>
</div>
<!-- <input type="password" placeholder="password" name="password"><br> -->
<input type="button" style="color:white;" value="Login" (click)="login(form)">
<!-- <span class="psw"><br/><a href="#">Forgot password?</a></span> -->
</form>
</div>

<!-- <div class="container">
  <div class="title">
    Welcome
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="user.email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="user.password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>

    <span>{{errorMsg}}</span>
    <button (click)="login()" class="btn waves-effect waves-light" type="submit" name="action">Login</button>
  </div>
</div> -->