@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	/* background: #fff; */
    background: #000;
    /* color: #fff; */
    color: #000;
	font-family: Arial;
    font-size: 12px;
	font-weight: 800;
}

.body{

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
    /* background-image: url(http://172.21.103.104:3510/images/trans_back.jpg); */
    /* background-image: url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg); */
    /* http://localhost:3500/blurbluebackground.jpg */
    background: linear-gradient(141deg, #0fb8ad 0%, #A8E4EB 51%, #74C5E2 75%);
	background-size: cover;
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.image{
    position: absolute;
    margin-top:10%;
    margin-left: 49%;
    z-index: 2;
}

.header{
    position: absolute;
    margin-top:12%;
    margin-left: 40%;
    /* top: calc(30% - 6px);
    left: calc(40% -6px); */
	z-index: 2;
}

.header div{
	float: left;
    /* color: #fff; */
    color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
    /* color:white !important; */
    color: black !important;
}

.text-danger div {
    /* color:white !important; */
    color: black !important;
}
.login{
	position: absolute;
	/* top: calc(50% - 20px);
	left: calc(50% - 110px); */
	height: 150px;
	width: 350px;
	padding: 10px;
    z-index: 2;
    align-content: right;
    margin-left:42%;
    margin-top: 19%;

}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(49, 46, 46, 0.3);
	border-radius: 2px;
    /* color:yellow; */
    color:#110E2C;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    padding: 4px;
    
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(49, 46, 46,0.3);
	border-radius: 2px;
    /* color: yellow; */
    color:#110E2C;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 180px;
	height: 35px;
    /* background: #fff; */
    background: rgba(0, 0, 0, 0.7);
    /* border: 1px solid #fff; */
    border: 1px solid rgba(0, 0, 0, 0.7);
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
    margin-top: 10px;
    margin-left: 40px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(65, 61, 61, 0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(65, 61, 61,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(65, 61, 61,0.6);
}

::-moz-input-placeholder{
   color: rgba(65, 61, 61,0.6);
}

table{
	background-color: white;
}
.divrgt{
	align-self: right;
}