<div class="row">
  <div class="col s12 m6 l4 offset-m2">
    <div class="score-outer">
  <div class="score">
    <strong class="score-label">Stability</strong>

    <div class="score-rating">
      <input type="radio" name="score-rating" id="score-rating-0" value="0" checked>

      <label for="score-rating-1"></label>
      <input type="radio" name="score-rating" id="score-rating-1" value="1">

      <label for="score-rating-2"></label>
      <input type="radio" name="score-rating" id="score-rating-2" value="2">

      <label for="score-rating-3"></label>
      <input type="radio" name="score-rating" id="score-rating-3" value="3">

      <label for="score-rating-4"></label>
      <input type="radio" name="score-rating" id="score-rating-4" value="4">

      <label for="score-rating-5"></label>
      <input type="radio" name="score-rating" id="score-rating-5" value="5">
      <span class="score-result"></span>
    </div>
    <!-- /.score-rating -->
  </div>
  <!-- /.score -->
</div>
<!-- /.score-outer -->
  </div>
  <div class="col s12 m6 l4 right">
    <!-- <div class="score-outer">
      <div class="score">
        <strong class="score-label">Maturity</strong>

        <div class="score-rating">
          <input type="radio" name="score-rating" id="score-rating-0" value="0" checked>

          <label for="score-rating-1"></label>
          <input type="radio" name="score-rating" id="score-rating-1" value="1">

          <label for="score-rating-2"></label>
          <input type="radio" name="score-rating" id="score-rating-2" value="2">

          <label for="score-rating-3"></label>
          <input type="radio" name="score-rating" id="score-rating-3" value="3">

          <label for="score-rating-4"></label>
          <input type="radio" name="score-rating" id="score-rating-4" value="4">

          <label for="score-rating-5"></label>
          <input type="radio" name="score-rating" id="score-rating-5" value="5">
          <span class="score-result"></span>
        </div>
        /.score-rating
      </div>
      /.score
    </div>
    /.score-outer -->
    <div class="rating">

      <input type="radio" name="rating" id="r1">
      <label for="r1"></label>

      <input type="radio" name="rating" id="r2">
      <label for="r2"></label>

      <input type="radio" name="rating" id="r3">
      <label for="r3"></label>

      <input type="radio" name="rating" id="r4">
      <label for="r4"></label>

      <input type="radio" name="rating" id="r5">
      <label for="r5"></label>

    </div>
  </div>
</div>
