nav ul a:hover {
    background-color: #9099A2;
}
nav{
        height: 50px;
    line-height: 50px;
    font-weight: bold;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}

.dropdown-content{
    font-size: medium;
    color: #5A457A;
    font-weight: 400;
    padding:0px;
    
}