<div class="card">
  <div class="card-image">
    <div class="row">
      <ngx-charts-pie-chart [view]="view" [results]="single" [legend]="false" [explodeSlices]="false" [labels]="showLabels"
        [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
      </ngx-charts-pie-chart>
    </div>

    <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#modal9"><i class="material-icons">zoom_out_map</i></a>
  </div>
  <div class="card-content blue-text">
    <h6 class="center-align">
      Apps by Age of Application  
    </h6>

  </div>
</div>

<div id="modal9" class="modal modal-fixed-footer">


  <div class="modal-content center-align">
    <div class="center-align">
      <div class="row">
          <h6>
              Apps by Age of Application  
            </h6>
        <div class="col s6">
            <ngx-charts-pie-chart [view]="[400,400]" [results]="single" [legend]="showLegend" [explodeSlices]="false" [labels]="showLabels"
            [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a  class="modal-action  modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>