<!-- <div class=""> -->
  <!-- <span class=""> -->
      <h5 class="card-panel indigo lighten-1 white-text" style="text-align:center" >
        ROLES
      </h5>
        <!-- </span> -->
<!-- </div> -->
<div class="row ">
  <ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header deep-purple lighten-3 "><i class="material-icons">filter_drama</i>Project Executive</div>
      <div class="collapsible-body  deep-purple lighten-1">
        <span>
      <p>Fill application input forms</p>
      <p>Import/Export functionality for Excel</p>
      </span>
      </div>
    </li>
<!-- 
    <li>
      <div class="collapsible-header light-blue lighten-3"><i class="material-icons">filter_drama</i>Project Manager</div>
      <div class="collapsible-body light-blue lighten-1">
        <span>
            <p> View executives application input forms<br> 
              Edit executives application input forms<br>
               Send the application input
              forms for approval
            </p>
        </span>
      </div>
    </li> -->
<!-- 
    <li>
      <div class="collapsible-header amber lighten-3"><i class="material-icons">filter_drama</i>IT Head</div>
      <div class="collapsible-body  amber lighten-1">
        <span>
            <p>Approve application input forms<br> Reject application input forms
            </p>
        </span>
      </div>
    </li> -->


    <li>
      <div class="collapsible-header brown lighten-3"><i class="material-icons">filter_drama</i>TPC</div>
      <div class="collapsible-body  brown lighten-1">
        <span>
            <p>View application input forms<br> Import/Export functionality for Excel<br> Edit application input forms<br> Input scores for application<br> Update scores for
              application
            </p>
        </span>
      </div>
    </li>

    <li>
      <div class="collapsible-header light-green accent-1"><i class="material-icons">filter_drama</i>Admin</div>
      <div class="collapsible-body light-green accent-3">
        <span>
            <p>View Reports<br> View DashBoards
            </p>
          </span>
      </div>
    </li>

  </ul>
</div>